---
import Layout from '../layouts/MainLayout.astro';
import GlowWrapper from '../components/GlowWrapper.vue';
import TheCareerCard from '../components/TheCareerCard.vue';
import Hero from '../components/Hero.vue';
import Carousel from '../components/Carousel.vue';
import TheEmailCard from '../components/TheEmailCard.vue';
import ArticlePreview from '../components/ArticlePreview.vue';

const posts = await Astro.glob<PostFrontmatter>('./posts/*.md')

---

<Layout>
	<main>
		<Hero/>
		<!-- <Carousel/> -->
		<div class="sm:px-8 mt-24 md:mt-28">
			<div class="mx-auto max-w-7xl lg:px-8">
				<div class="relative px-4 sm:px-8 lg:px-12">
					<div class="mx-auto max-w-2xl lg:max-w-5xl">
						<div class="mx-auto grid max-w-xl grid-cols-1 gap-y-20 lg:max-w-none lg:grid-cols-2">
							<div class="flex flex-col gap-16">
								{
									posts
									.sort(({ frontmatter: firstFrontmatter }, { frontmatter: secondFrontmatter}) => new Date(firstFrontmatter.date).getTime() > new Date(secondFrontmatter.date).getTime() ? -1 : 1)
									.slice(0, 3)
									.map(({ frontmatter, url }) => ( <ArticlePreview {...frontmatter} url={url}/> ))
								}
							</div>
							<GlowWrapper client:visible>
								<div class="space-y-10 lg:pl-16 xl:pl-24">
									<TheEmailCard/>
									<TheCareerCard/>
								</div>
							</GlowWrapper>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>